.container {
    height: calc(100vh - 268.8px);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-cont {
    width: 100%;
}

.notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 400px;
    min-width: 150px;

    background-color: tomato;
    color: whitesmoke;
    border-radius: 10px;
    margin: 0 auto;

    padding-bottom: 23px;
}

h1, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 100px;
}
h5 {
    font-size: 53px;
}
h6 {
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 400px) {

    h1 {
        font-size: 80px;
    }
    h5 {
        font-size: 43px;
    }
    h6 {
        font-size: 15.5px;
        font-weight: 600;
    }

    .notfound {
        margin: 0 auto;
        width: 80%;
    }
}