<div class="container">
    <div class="search">
        <h1>Search for {{value}}{{msg}}</h1>
        <form #form="ngForm">
            <div class="sub-cont">
                <input #searchBox type="text" autofocus placeholder="Search for {{value}}" #searchValue (keyup.enter)="search(searchValue.value)">
                <div class="custom-select">
                    <select #select name="datos" (change)="dataChanged(select.value)">
                        <option value="Gifs">Gifs</option>
                        <option value="Stickers">Stickers</option>
            
                    </select>
                    <span class="custom-arrow"></span>
                </div>

            </div>

        </form>
          
    </div>

    <app-genericdata [data]="gifsStickers"></app-genericdata>
    
</div>
