<footer>
    <div class="container-xl">
        <div class="row content">

            <div class="section first col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 order-2 order-sm-1">
                <div class="full-cont d-flex flex-column align-items-start">
                    <div class="cont">
                        <h4>Nuestra dirección</h4>
                        <h5>Alajuela, CR</h5>
                    </div>
                    <div class="cont">
                        <h5>+506 11-22-11-22</h5>
                    </div>
                    <div class="cont">
                        <h5>Danos tu WhatsApp</h5>
                    </div>
                    <div class="cont">
                        <form>
                            <div class="cont-form">
                                <input type="text" placeholder="+506 00-11-22-33">
                                <button type="submit">Enviar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="section second col-xl-4 col-lg-4 col-md-3 col-sm-0 col-12 order-3 order-sm-2">
                <div class="full-cont dev-info d-flex flex-column align-items-start">
                    <div class="cont">
                        <h4>Desarrollador</h4>
                    </div>
                    <ul>
                        <li>
                            <a href="#">Desarrolladores</a>
                        </li>
                        <li>
                            <a href="#">Documentación</a>
                        </li>
                        <li>
                            <a href="#">Información</a>
                        </li>
                        <li>
                            <a href="#">Desarrolladores</a>
                        </li>
 

                    </ul>
                </div>
            </div>

            <div class="section col-xl-4 col-lg-4 col-md-5 col-sm-6 col-12 order-1 order-sm-3">
                <div class="full-cont d-flex flex-column ">
                    <div class="cont">
                        <h4 class="compania">Nuestra Compañía</h4>
                    </div>
                    <div class="cont cont-txt">
                        <p class="centrar">
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            <!-- Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. -->
                        </p>
                    </div>
                    <!--                     <div class="cont">
                        <h3>support@company.com</h3>
                    </div> -->
                    <div class="cont icons">
                        <i class="bi bi-whatsapp"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>